
@{
    ViewData["Title"] = "About Us";
}
<div style="padding-left: 230px; padding-right: 230px;">
    <center>
        <b>
            <span style="font-size: 18px">Who are we</span>
        </b>
        <p style="text-align: left;">
            CAGIS chapters are run by volunteers across the country. Chapter volunteers, headed by two volunteer coordinators
            and an assistant coordinator, brainstorm and plan monthly events in science, technology, engineering, and mathematics (STEM).
            They work with women and men in STEM who volunteer to host an event and teach girls about their field of expertise with fun, hands-on activities.
        </p>
        <br />
        <p style="text-align: left;">CAGIS is headed by Dr. Larissa Vingilis-Jaremko, founder and president, and Dr. Evelyn Vingilis, Chief Financial Officer.</p>
        <br />
        <b>
            <span style="font-size: 18px">Dr. Larissa Vingilis-Jaremko, Founder & President</span>
        </b>

        <img src="~/Images/WebsiteImages/PictureOfLVC.jpg" style="float: left; padding-right: 15px;" />
        <p style="text-align: left;">
            In 1992, at age nine, Larissa Vingilis-Jaremko founded the Canadian Association for Girls in Science (CAGIS),
            a not-for-profit organization dedicated to facilitating interest in science, technology, engineering, and mathematics (STEM)
            among girls aged 7-16. CAGIS members explore STEM topics with women and men experts in STEM fields. With lots of time devoted
            to hands-on activities, the ultimate goal is to expose girls to a wide range of STEM topics, provide non-stereotyped role models,
            and build interest and knowledge in STEM with fun, hands-on activities. Since its inception, CAGIS has grown to have chapters across the country.
        </p>
        <br>
        <p style="overflow: hidden; text-align: left;">
            Larissa remains president of CAGIS and has become a credible and strong voice and advocate nationally for encouraging girls’
            interest in STEM. Larissa has created awareness of the barriers that still exist, and through her tireless efforts has become renowned for her work.
            Larissa received a variety of honours for her science promotion work including being named as one of Canada’s Top 100 Most Powerful Women
            (in the Globe and Mail by the Women’s Executive Network), Toronto Young Woman of Disction, London Young Woman of Excellence, Youth in Motion Top 20 Under 20,
            Chatelaine’s 80 Amazing Canadian Women to Watch, to list a few. She also received the highly competitive TD Canada Trust Scholarship for Outstanding Community Leadership.
            She has participated and advised committees and roundtables such as the Parliamentary Committee on the Status of Women, Canadian Space Agency Roundtable, and NSERC
            Science Colloquium and has been featured in media stories across the country. Larissa is also a vision scientist and completed her Ph.D. in 2013 at McMaster University.
            When CAGIS was founded, it was the only organization of its kind in Canada. Larissa broke new ground by allowing girls to actively explore their interests, and lead their own club.
        </p>
        <br />
        <b>
            <span style="font-size: 18px">Dr. Evelyn Vingilis, CFO</span>
        </b>
        <img src="~/Images/WebsiteImages/EVCFO.jpg" style="float: left; padding-right: 15px;" />
        <br />
        <p style="text-align: left;">
            Dr. Vingilis is Director of the Population and Community Health Unit, and Professor with the Departments of Family Practice, and Epidemiology and Biostatistics
            at the Faculty of Medicine, University of Western Ontario. She is a child and developmental psychologist by profession. Her research has been on injury prevention
            and control and mental health with a particular focus on at-risk youth. She has been involved in girls and women’s issues since the 1970s. In the 1980s, she was
            president of the Canadian Association for Women In Science. Additionally, she was involved in women in STEM at the University of Western Ontario. Her involvement
            in girls’ and women’s issues led to her 2008 Leading Women Building Communities Award from the province of Ontario “for her exceptional community leadership to improve the lives
            of women and girls in Ontario”.
        </p>
        <br />
    </center>
    <br />
</div>


