@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="HomePageId">

    <img src="~/Images/WebsiteImages/BlogIcon.png" id="BlogIcon" />
    <img src="~/Images/WebsiteImages/ActivitiesIcon.png" id="ActivitiesIcon" />
    <img src="~/Images/WebsiteImages/DYKIcon.png" id="DYKIcon"/>
</div>
