@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="PrivacyPolicyPage" style="margin-left: 15%;">  
        <h1 style="text-align:center">Welcome to our Privacy Policy</h1>
        <br /><br />
              <div>
                  <p style="text-align:left;">
                      Your Privacy is critically important to us<br /><br />
                      Canadian Association for Girls in Science is located at:<br />
                      Canadian Association for Girls in Science<br />
                      6700 Century Ave Suite 100<br />
                      Ontario, Canada<br />
                      (905)567-7190
                  </p><br /><br />
                  <p>
                      It is Canadian Association for Girls in Science’s policy to respect your privacy regarding any information we may collect while operating our<br />
                      website. This Privacy Policy applies to GirlsInScience.ca (hereinafter, “us”, “we”, or “GirlsInScience.ca”). We respect your privacy and are committed<br />
                      to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy (“Privacy Policy”) to<br />
                      explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the<br />
                      information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of<br />
                      information from other sources.<br />
                      This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of<br />
                      our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.
                  </p><br />
                  <b>- Website Visitors</b>
                  <p>
                      Like most website operators, Canadian Association for Girls in Science collects non-personally-identifying information of the sort that web<br />
                      browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor<br />
                      request. Canadian Association for Girls in Science’s purpose in collecting non-personally identifying information is to better understand how<br />
                      Canadian Association for Girls in Science’s visitors use its website. From time to time, Canadian Association for Girls in Science may release non-<br />
                      personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.<br />
                      Canadian Association for Girls in Science also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged<br />
                      in users and for users leaving comments on http://GirlsInScience.ca blog posts. Canadian Association for Girls in Science only discloses logged in<br />
                      user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.
                  </p><br />
                  <b>- Gathering of Personally-Indentifying Information</b>
                  <p>
                      Certain visitors to Canadian Association for Girls in Science’s websites choose to interact with Canadian Association for Girls in Science in ways that<br />
                      require Canadian Association for Girls in Science to gather personally-identifying information. The amount and type of information that Canadian<br />
                      Association for Girls in Science gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a newsletter at<br />
                      http://GirlsInScience.ca to provide an email address. Visitors who sign up to volunteer are asked for more information.
                  </p><br />
                  <b>- Security</b>
                  <p>
                      The security of your Personal Information is important to us, but remember that no method of<br />
                      transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot<br />
                      guarantee its absolute security.
                  </p><br />
                  <b>- Links To External Sites</b>
                  <p>
                      Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s<br />
                      site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.<br />
                      We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.
                  </p><br />
                  <b>– GirlsInScience.ca uses Google AdWords for remarketing</b>
                  <p>
                      GirlsInScience.ca uses the remarketing services to advertise on third party websites (including Google) to previous visitors to our site. It could<br />
                      mean that we advertise to previous visitors who haven’t completed a task on our site, for example using the contact form to make an enquiry. This<br />
                      could be in the form of an advertisement on the Google search results page, or a site in the Google Display Network. Third-party vendors,<br />
                      including Google, use cookies to serve ads based on someone’s past visits. Of course, any data collected will be used in accordance with our own<br />
                      privacy policy and Google’s privacy policy.<br />
                      You can set preferences for how Google advertises to you using the Google Ad Preferences page, and if you want to you can opt out of interest-<br />
                      based advertising entirely by cookie settings or permanently using a browser plugin.
                  </p><br />
                  <b>– Protection of Certain Personally-Identifying Information</b>
                  <p>
                      Canadian Association for Girls in Science discloses potentially personally-identifying and personally-identifying information only to those of its<br />
                      employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Canadian Association for Girls<br />
                      in Science’s behalf or to provide services available at Canadian Association for Girls in Science’s website, and (ii) that have agreed not to disclose it<br />
                      to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Canadian<br />
                      Association for Girls in Science’s website, you consent to the transfer of such information to them. Canadian Association for Girls in Science will<br />
                      not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and<br />
                      affiliated organizations, as described above, Canadian Association for Girls in Science discloses potentially personally-identifying and personally-<br />
                      identifying information only in response to a subpoena, court order or other governmental request, or when Canadian Association for Girls in<br />
                      Science believes in good faith that disclosure is reasonably necessary to protect the property or rights of Canadian Association for Girls in Science,<br />
                      third parties or the public at large.<br />
                      If you are a registered user of http://GirlsInScience.ca and have supplied your email address, Canadian Association for Girls in Science may<br />
                      occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with<br />
                      Canadian Association for Girls in Science and our products. If you send us a request (for example via a support email or via one of our feedback<br />
                      mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Canadian<br />
                      Association for Girls in Science takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction<br />
                      of potentially personally-identifying and personally-identifying information.
                  </p><br />
                  <b>– Aggregated Statistics</b>
                  <p>
                      Canadian Association for Girls in Science may collect statistics about the behaviour of visitors to its website. Canadian Association for Girls in<br />
                      Science may display this information publicly or provide it to others. However, Canadian Association for Girls in Science does not disclose your<br />
                      personally-identifying information.
                  </p><br />
                  <b>- Cookies</b>
                  <p>
                      To enrich and perfect your online experience, Canadian Association for Girls in Science uses “Cookies”, similar technologies and services provided<br />
                      by others to display personalized content, appropriate advertising and store your preferences on your computer.<br />
                      A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time<br />
                      the visitor returns. Canadian Association for Girls in Science uses cookies to help Canadian Association for Girls in Science identify and track<br />
                      visitors, their usage of http://GirlsInScience.ca, and their website access preferences. Canadian Association for Girls in Science visitors who do not<br />
                      wish to have cookies placed on their computers should set their browsers to refuse cookies before using Canadian Association for Girls in<br />
                      Science’s websites, with the drawback that certain features of Canadian Association for Girls in Science’s websites may not function properly<br />
                      without the aid of cookies.<br />
                      By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Canadian Association for Girls<br />
                      in Science’s use of cookies.
                  </p><br />
                  <b>– E-commerce</b>
                  <p>
                      Those who engage in transactions with Canadian Association for Girls in Science – by purchasing Canadian Association for Girls in Science’s<br />
                      services or products, are asked to provide additional information, including as necessary the personal and financial information required to<br />
                      process those transactions. In each case, Canadian Association for Girls in Science collects such information only insofar as is necessary or<br />
                      appropriate to fulfill the purpose of the visitor’s interaction with Canadian Association for Girls in Science. Canadian Association for Girls in Science<br />
                      does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying<br />
                      information, with the caveat that it may prevent them from engaging in certain activities.
                  </p><br />
                  <b>Privacy Policy Changes</b>
                  <p>Although most changes are likely to be minor, Canadian Association for Girls in Science may change its Privacy Policy from time to time, and in<br />
                  Canadian Association for Girls in Science’s sole discretion. Canadian Association for Girls in Science encourages visitors to frequently check this<br />
                  page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of<br />
                  such change.</p>
              </div>
           
</div>

