@model IEnumerable<CAGISWebsite.Models.Blogs>

@{
    ViewData["Title"] = "Blogs Page";
}

<h1>Please Select A Blog, or search for one</h1>
<form asp-action="ShowSearchResults">
    <div class="form-group">
        <label for="SearchPhrase" class="control-label"></label>
        <input name="SearchPhrase" class="form-control" style="width: 200px;" />

    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>Blog Title</p>
            </th>
            <th>
                <p>Blog Text</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogText)
            </td>
            <td>                
                <a asp-action="Details" asp-route-id="@item.BlogId">Details</a>             
            </td>
        </tr>
}
    </tbody>
</table>
