@model CAGISWebsite.Models.Blogs

@{
    ViewData["Title"] = "CreateBlog";
}

<h1>CreateBlog</h1>

<h4>Blogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBlog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlogTitle" class="control-label"></label>
                <input asp-for="BlogTitle" class="form-control" />
                <span asp-validation-for="BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogText" class="control-label"></label>
                <input asp-for="BlogText" class="form-control" />
                <span asp-validation-for="BlogText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateBlog" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllBlogs">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
