@model CAGISWebsite.Models.Activities

@{
    ViewData["Title"] = "EditActivity";
}

<h1 id="TitleEditActivity">Edit Activity</h1>

<h4>Activities</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditActivity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActivityId" />
            <div class="form-group">
                <label asp-for="ActivityTitle" class="control-label">Activity Title</label>
                <input asp-for="ActivityTitle" class="form-control" />
                <span asp-validation-for="ActivityTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityText" class="control-label">Activity Description</label>
                <input asp-for="ActivityText" class="form-control" />
                <span asp-validation-for="ActivityText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllActivites">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
