@model CAGISWebsite.Models.Facts

@{
    ViewData["Title"] = "Edit " + Model.Dyktitle;
}

<div id="EditFactPage">
    <h1 id="titleEditDYK">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div>
        @if (Model.DykimageId == null)
        {
            <img id="imgBlogImage" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
        }
        else
        {
            <img id="imgBlogImage" src="@Model.Dykimage.ImagePath" height="150" width="200" />
        }
    </div>
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="EditFact" id="frmEditDYK" onsubmit="return TTLValidation('DYK');">
            <input type="hidden" asp-for="Dykid" />
            <input type="hidden" asp-for="DykuploadDate" />
            <input type="hidden" asp-for="DykimageId" value="@Model.DykimageId" />
            <div class="form-group">
                <label asp-for="Dyktitle" class="control-label">Did You Know Title</label><br />
                <input asp-for="Dyktitle" id="txtDYKTitle" class="form-control, col-md-4" maxlength="50" />
                <span id="txtDYKTitle-error" asp-validation-for="Dyktitle"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dyktext" class="control-label">Did You Know Description</label>
                <textarea asp-for="Dyktext" id="txtDYKText" class="form-control" rows="7" cols="250"></textarea>
                <span id="txtDYKText-error" asp-validation-for="Dyktext" ></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image</label><br />
                <input type="file" accept=".png,.jpg,.jpeg,.gif" name="file" id="imgImageUpload" class="form-control, col-md-4" onchange="TTLCheckImageExtension()" />
                <span id="imgImageUpload-error"  asp-validation-for="Dykimage"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-route-factStatus="EditFact" class="btn btn-primary" />
                <input type="submit" id="btnRemoveImage" value="Remove Image" asp-route-factStatus="ImageRemoval" class="btn btn-danger"
                       onclick="return confirm('This will permanently remove the image and become replaced with a placeholder. Are you sure you want to continue?')" />
            </div>
        </form>
    </div>
</div>

    <div>
        <a asp-action="AllFacts">Back to List</a>
    </div>
</div>


@section Scripts {
    <script src="~/js/TTLGeneralValidation.js" type="text/javascript"></script>
    <script src="~/js/TTLImageValidation.js" type="text/javascript"></script>
}
