@model CAGISWebsite.Models.Activities

@{
    ViewData["Title"] = "EditActivity";
}

<div id="EditActivityPage">
    <h1 id="TitleEditActivity">Edit Activity</h1>

<hr />
<div class="row">
    <div>
        @if (Model.ActivityImageId == null)
        {
            <img id="imgBlogImage" src="~/Images/Cagis_logo_colour.png" />
        }
        else
        {
            <img id="imgBlogImage" src="@Model.ActivityImage.ImagePath" height="150" width="200" />
        }
    </div>
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="EditActivity" id="frmEditActivity" onsubmit="return TTLValidation('Activity');">
            <input type="hidden" asp-for="ActivityId" />
            <div class="form-group">
                <label asp-for="ActivityTitle" class="control-label">Activity Title</label><br />
                <input asp-for="ActivityTitle" id="txtActivityTitle" class="form-control, col-md-4" maxlength="50" />
                <span id="txtActivityTitle-error" asp-validation-for="ActivityTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityText" class="control-label">Activity Description</label>
                <textarea asp-for="ActivityText" id="txtActivityText" class="form-control" rows="7" cols="250"></textarea>
                <span id="txtActivityText-error" asp-validation-for="ActivityText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image</label><br />
                <input type="file" accept=".png,.jpg,.jpeg,.gif" name="file" id="imgImageUpload" class="form-control, col-md-4" maxlength="50" />
                <span id="imgImageUpload-error" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <div>
        <a asp-action="AllActivities">Back to List</a>
    </div>

</div>

@section Scripts {
    <script src="~/js/TTLGeneralValidation.js" type="text/javascript"></script>
}
