@model CAGISWebsite.Models.Facts

@{
    ViewData["Title"] = "Edit Did You Know";
}

<h1 id="titleEditDYK">Edit Did You Know</h1>

<h4>Did You Knows</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dykid" />
            <div class="form-group">
                <label asp-for="Dyktitle" class="control-label">Did You Know Title</label>
                <input asp-for="Dyktitle" class="form-control" />
                <span asp-validation-for="Dyktitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dyktext" class="control-label">Did You Know Description</label>
                <input asp-for="Dyktext" class="form-control" />
                <span asp-validation-for="Dyktext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllFacts">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
