
@{
    if (User.IsInRole("Admin"))
    {

    }
    ViewData["Title"] = "Admin Panel";
}

<div id="IndexPage">
    <h1 id="AdminTitle">@ViewData["Title"]</h1>

    <div class="card" style="background-color: #3FB954;">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="ListEmployees" asp-controller="Administration" class="btn btn-primary" id="btnEmployees">Employees</a><br />
        }
        <a asp-action="AllBlogs" asp-controller="Administration" class="btn btn-primary" id="btnAdminBlog">Manage Blog</a><br />
        <a asp-action="AllFacts" asp-controller="Administration" class="btn btn-primary" id="btnAdminDYK">Manage Did You Know</a><br />
        <a asp-action="AllActivities" asp-controller="Administration" class="btn btn-primary" id="btnAdminActivities">Manage Activities</a><br />
        <a asp-action="AllContests" asp-controller="Administration" class="btn btn-primary" id="btnAdminContests">Manage Contests</a>
    </div>
</div>
   

