@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "List of Roles";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Add Role</a>

    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Add Role</a>
    }
    foreach (var role in Model)
    {
        <div class="card-body">
            <h5 class="card-title">@role.Name</h5>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="ListUsersInRole" asp-controller="Administration"
               asp-route-Id="@role.Id">List Users In Role</a>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration"
                   asp-route-Id="@role.Id">Edit Role</a>
                <a href="#" class="btn btn-danger">Delete Role</a>
            }
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">No roles created</div>
        <div class="card-body">
            <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Add Role</a>
        </div>
    </div>
}