@model ErrorViewModel
@{
    ViewData["Title"] = "Error Page";
}
<div style="text-align: center;">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <a asp-action="Index" class="btn btn-primary">Home</a>
</div>
